{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <p>"Boy, what's your name?" the teacher asked.
"Mohammed," he replied.
“Now you live in Ireland. From now on, your name will be Michael."
Muhammad returned home after school.
"How was your first day of school, Mohammed?" his mother asked.
"My name is not Mohammed, we now live in Ireland, and from now on call me Michael."
"Are you ashamed of your name? Do you want to betray your parents, your homeland, your religion? HOW DARE YOU?"
His mother beat the crap out of him, then called his father to repeat the procedure.
The next day he returned to school, where the teacher saw fresh marks of beatings on him.
"What happened, Michael?" the teacher asked.
"Right after I became Irish, I was beaten up by two fucking Arabs".</p>
    </div>
	<div class="col-sm-8">

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Сохранить</button>

</form>

    </div>

  </div>
</div>

{% endblock %}