{% load custom_tag %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="icon" href="{% static '/favicon3.ico' %}">
</head>
<body>

<div class="p-1 bg-danger text-white text-center">
    <h1>My First Catalog Page</h1>
    <p>“With great power comes great responsibility.” – Spiderman</p>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
			{% if request.user|has_group:"Moderators" %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalog:moderate_product_list' %}">Модерация товаров</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'catalog:product_list' %}">Магазин</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalog:my_product_list' %}">Мои товары</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalog:category_list' %}">Категории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:profile' user.pk %}">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}">Выход</a>
                </li>
                    {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">Авторизация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:register' %}">Зарегистрироваться</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block content %}
{% endblock %}


<div class="mt-5 p-4 bg-dark text-white text-center">
    <p>a line at the bottom of a page on the internet</p>
</div>


</body>
</html>
