{% extends 'catalog/base.html' %}


{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <p>I have two news: one is good, the other is bad.
- start with the bad.
—I hit Marina and Nadya
- Oh my god, is it good?
— now I have the whole car in the marinade</p>
    </div>
	
    <div class="col-sm-8">
      <h2>Удалить категорию</h2>
      
	  {% if user.is_authenticated %}
	  <form method="post">
			             <div class="form_settings">
	  {% csrf_token %}
	  {{ form.as_p }}
<p> Are you sure? The category {{object.name}} will be deleted </p>
				   <p><a href='{% url 'catalog:category_list' %}'> NO! I've change my mind.</a></p>
                   <button class="btn btn-primary" type="submit">
                       delete
                   </button>	  
	  </div>
               </form>
	  {% else %}
	  <iframe src="https://giphy.com/embed/xULW8N9O5WD32L5052" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/bird-homer-simpson-xULW8N9O5WD32L5052">via GIPHY</a></p>
	  {% endif %}
	  
    </div>
  </div>
</div>

{% endblock %}