{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}



{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <p>The commander shows the soldiers a new secret tank.
- Here, comrade soldiers, this is a new secret tank.
From that moment on, the tank ceased to be secret.</p>
    </div>
	
    <div class="col-sm-8">
      <h2>Придумать категорию</h2>
	  
      {% if user.is_authenticated %}
	  <form method="post">
			             <div class="form_settings">
	  {% csrf_token %}
	  {{ form|crispy }}
	  <button class='btn btn-primary' type='submit'>Save</button>
	  
	  </div>
               </form>
	  {% else %}
	  <iframe src="https://giphy.com/embed/RfSJDSDzkGO6EmlASJ" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/dominicanasgottalent-payaso-dgt-dominicanatienetalento-RfSJDSDzkGO6EmlASJ">via GIPHY</a></p>
	  {% endif %}
	  
    </div>
  </div>
</div>

{% endblock %}