{% extends 'catalog/base.html' %}


{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <p>In Germany, in a geography lesson, the teacher asks:
— Children, how far is Africa?
Hans holds out his hand and answers:
- I think it's close.
Teacher:
- Why?
Hans:
“My dad has a black man working at the firm and he comes by bike.</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'catalog:create_category' %}">Create category</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
	
	<div class="col-sm-8">
	<h2>Список категорий</h2>
		

	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Info</th>

			</tr>
		</thead>
		<tbody>
			{% for object in object_list %}
			<tr>
			  <td>{{ forloop.counter }}</td>
			  <td>{{object.name}}</td>
			  <td>{{object.info|truncatechars:30}}</td>
			  <td><a href='{% url 'catalog:update_category' object.pk %}'>Редактировать</a></td>
			  <td><a href='{% url 'catalog:delete_category' object.pk %}'>Удалить</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	  
    </div>
	
  </div>
</div>

{% endblock %}