{% extends 'catalog/base.html' %}

{% block content %}

        <div id="horse" class="centered" style="padding-top: 2px"><div class="jscroll-inner">
        <pre>
┈┈╱╲┈┈┈╱╲┈┈╭━╮┈
┈╱╱╲╲__╱╱╲╲┈╰╮┃┈
┈▏┏┳╮┈╭┳┓▕┈┈┃┃┈
┈▏╰┻┛▼┗┻╯▕┈┈┃┃┈
┈╲┈┈╰┻╯┈┈╱▔▔┈┃┈
┈┈╰━┳━━━╯┈┈┈┈┃┈
┈┈┈┈┃┏┓┣━━┳┳┓┃┈
┈┈┈┈┗┛┗┛┈┈┗┛┗┛┈

┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈
┈╭━━━━━╮┈┈┈┈┈┈┈┈
┈╰┳━━━━╰╮╭━╮┈┈┈┈
┈┈╰┳━━━━┣╯▊╲┈┈┈┈
┈┈┈╰━┳━━╯╰╱▔┈┈┈┈
┈┈┈┈┈╰━┳┳╯┈┈┈┈┈┈
━━━━━━━┻┻━━━━━━━
        </pre>


<div id="carouselExampleDark" class="carousel carousel-dark slide" align="center">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <div class="d-block w-100">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">hey-ho, my lucky pirate!</h5>
                        <p class="card-text">
          ░░╚══╗░╔═╔════╝
          ╚═╦═╗╠═╩═╩╗╔═╦═╗
          ░░║▒╠╣▒▒▒▒╠╣▒║▒║
          ╔═╩═╝╠═╦═╦╝╚═╩═╝
          ░░╔══╝░╚═╚════╗
                  </p>
                    </div>
                </div>
            </div>
        </div>
      {% for object in object_list %}
          <div class="carousel-item" data-bs-interval="2000">
              <div class="d-block w-100">
              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title">{{ object.name }}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                      <p class="card-text">{{object.info|truncatewords:30}}</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                  </div>
              </div>
          </div>
          </div>
      {% endfor %}
  </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock %}