{% extends 'catalog/base.html' %}


{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <p>The tipsy cowboy fills up the bar and, grabbing the bartender by the collar, yells:
- You, bastard bitch, sleeping with my wife?
- What are you, John, no, of course not ...
- Oh, you mustachioed bastard, disdain after me ??</p>
    </div>
	
    <div class="col-sm-8">
      <h2>Удалить продукт</h2>
      
	  {% if user.is_authenticated %}
	  <form method="post">
			             <div class="form_settings">
	  {% csrf_token %}
	  {{ form.as_p }}
<p> Are you sure? The product {{object.name}} will be deleted </p>
				   <p><a href='{% url 'catalog:product_list' %}'> NO! I've change my mind.</a></p>
                   <button class="btn btn-primary" type="submit">
                       delete
                   </button>	  
	  </div>
               </form>
	  {% else %}
	  <iframe src="https://giphy.com/embed/26ybwwiZmci3DJdYs" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/animation-internet-computers-26ybwwiZmci3DJdYs">via GIPHY</a></p>
	  {% endif %}
	  
    </div>
  </div>
</div>

{% endblock %}