{% extends 'catalog/base.html' %}


{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h2>About Me</h2>
      <h5>Photo of me:</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      <h3 class="mt-4">Some Links</h3>
      <p>Lorem ipsum dolor sit ame.</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'catalog:create_product' %}">Create product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
	
	<div class="col-sm-8">
	<h2>Список продуктов</h2>
		<h5>Title description, Dec 7, 2020</h5>
		

	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Info</th>
				<th scope="col">Category</th>
				<th scope="col">Price</th>

			</tr>
		</thead>
		<tbody>
			{% for object in object_list %}
			<tr>
			  <td>{{ forloop.counter }}</td>
			  <td>{{object.name}}</td>
			  <td>{{object.info|truncatechars:30}}</td>
			  <td>{{object.category}}</td>
			  <td>{{object.price}}</td>
			  <td><a href='{% url 'catalog:detail_product' object.pk %}'>Подробнее</a></td>
			  <td><a href='{% url 'catalog:update_product' object.pk %}'>Редактировать</a></td>
			  <td><a href='{% url 'catalog:delete_product' object.pk %}'>Удалить</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	  
    </div>
	
  </div>
</div>

{% endblock %}