{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">

      <p>Sherlock Holmes and Watson are walking through the forest and see a huge pile of shit.
- Here, Watson, I first saw the Hound of the Baskervilles.</p>

      <hr class="d-sm-none">
    </div>
	
    <div class="col-sm-8">
      <h2>Создание продукта</h2>
      
	  <form method="post">
			<div class="form_settings">
				{% csrf_token %}
				{{ form|crispy }}
			</div>
			<div class='formset'>
			{{ formset|crispy }}
			</div>
			
			
			
			<button class='btn btn-primary' type='submit'>Save</button>
		</form>
	  
	  
    </div>
  </div>
</div>

{% endblock %}