{% extends 'catalog/base.html' %}


{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <p>Stirlitz fired back from enemies endlessly


The end has already been shot</p>
    </div>
	
    <div class="col-sm-8">
      <h2>Подробная информация о продукте</h2>
      
	  <p>Name: {{object.name}}
	  <p>Info: {{object.info}}
	  <p>Price: {{object.price}}
	  <p>Create date: {{object.date_create}}
	  <p>Date of last change: {{object.date_last_change}}

	  
	  
    </div>
  </div>
</div>

{% endblock %}