{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      <h3 class="mt-4">Some Links</h3>
      <p>I read the book "how to learn to give constructive criticism" - such garbage</p>

      <hr class="d-sm-none">
    </div>
	
    <div class="col-sm-8">
		<h2>Обновление информации о продукте</h2>
		<h5>Title description, Dec 7, 2020</h5>
		<form method="post">
			<div class="form_settings">
				{% csrf_token %}
				{{ form|crispy }}
			</div>
			<div class='formset'>
			{{ formset|crispy }}
			</div>
			
			
			
			<button class='btn btn-primary' type='submit'>Save</button>
		</form>
  </div>
</div>

{% endblock %}