{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">

      <p>Sherlock Holmes and Watson are walking through the forest and see a huge pile of shit.
- Here, Watson, I first saw the Hound of the Baskervilles.</p>

      <hr class="d-sm-none">
    </div>
	
    <div class="col-sm-8">
      <h2>Создание продукта</h2>
      {% if user.is_authenticated %}
	  <form method="post" enctype="multipart/form-data">
			<div class="form_settings">
				{% csrf_token %}
				{{ form|crispy }}
			</div>
			<div class='formset'>
			{{ formset|crispy }}
			</div>
			
			
			
			<button class='btn btn-primary' type='submit'>Save</button>
		</form>
	  {% else %}
	  <iframe src="https://giphy.com/embed/3oz8xYfQd5358zpL0s" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/commission-tyler-naugle-3oz8xYfQd5358zpL0s">via GIPHY</a></p>
	  {% endif %}
    </div>
  </div>
</div>

{% endblock %}